<!doctype html>
<html>
    <head>
        <title>Browse page</title>
    </head>
    <body>
        <div id="root">
            <h1>Browse page</h1>
        </div>
        <script src="/bundle/browse.js"></script>
    </body>
</html>
