<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="prefetch" href="/img/loading.gif">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/1stdibs.css">
        <title>1stdibs</title>
    </head>
    <body>
        <main id="app">
        </main>
        <script src="/js/vendor.js"></script>
        <script src="/js/spa1stdibs.js"></script>
    </body>
</html>
